{% set postgres = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'postgresql',
        'pkg_dev': 'postgresql-server-dev-all',
        'pkg_libpq_dev': 'libpq-dev',
        'python': 'python-pygresql',
        'service': 'postgresql',
        'create_cluster': False,
        'init_db': False,
        'user': 'postgres',
    },
    'RedHat': {
        'pkg': 'postgresql-server',
        'pkg_dev': 'postgresql-devel',
        'pkg_libpq_dev': 'postgresql-libs',
        'python': 'python-psycopg2',
        'service': 'postgresql',
        'conf_dir': '/var/lib/pgsql/data',
        'create_cluster': False,
        'init_db': True,
        'version': '9.1',
        'user': 'postgres',
    },
    'Arch': {
        'pkg': 'postgresql',
        'pkg_dev': 'postgresql-devel',
        'pkg_libpq_dev': 'postgresql-libs',
        'python': 'python-psycopg2',
        'service': 'postgresql',
        'conf_dir': '/var/lib/pgsql/data',
        'create_cluster': False,
        'init_db': True,
        'version': '9.1',
        'user': 'postgres',
    },
}, merge=salt['grains.filter_by']({
    'trusty': {
        'pkg': 'postgresql',
        'conf_dir': '/etc/postgresql/9.3/main',
        'create_cluster': True,
        'version': '9.3',
    },
    'wheezy': {
        'version': '9.1',
        'pg_hba': '/etc/postgresql/9.1/main/pg_hba.conf',
        'conf_dir': '/etc/postgresql/9.1/main',
    },
    'jessie': {
        'version': '9.4',
        'pg_hba': '/etc/postgresql/9.4/main/pg_hba.conf',
        'conf_dir': '/etc/postgresql/9.4/main',

    }
}, grain='oscodename', merge=salt['pillar.get']('postgres:lookup'))) %}
